.cost {
   background-image: url(https://res.cloudinary.com/dxgbxchqm/image/upload/v1721734044/black-white_iidqap.webp);
  background-size: cover;
  color: white;
  min-height: 100vh;
  height: 100%;
}
.c-p {
  color: white;
  margin-left: 50px;
}
.c-m {
  color: white;
}
span {
  font-size: 20px;
}
h2 {
  padding-left: 50px;
}
