.list-item-container {
  list-style-type: none;
}
.container {
  margin: 10px;
}
.Tabclass {
  background-color: lightcyan;
  border-radius: 4px;
  border: none;
  padding: 10px;
}
.active {
  background-color: blue;
}
