.contact-page {
    background-image: url(https://res.cloudinary.com/dxgbxchqm/image/upload/v1721734044/black-white_iidqap.webp);
    background-size: cover;
    color: white;
    min-height: 100vh;
    height: 100%;
}

.contact h1 {
    font-weight: 600;
    color: white;
}

.contact-list li {
    font-size: 1.1rem;
    color: white;
}

.contact-list a {
    color: #007bff;
    text-decoration: none;
}

.contact-list a:hover {
    text-decoration: underline;
}