.p-p {
  color: white;
  padding-left: 50px;
  font-size: 18px;
}
/* h2 {
  padding-left: 50px;
} */
.payment {
  background-image: url(https://res.cloudinary.com/dxgbxchqm/image/upload/v1721734044/black-white_iidqap.webp);
  background-size: cover;
  color: white;
  min-height: 100vh;
  height: 100%;
}
input {
  /* width: 300px;
  margin-bottom: 5px; */
  border: 2px solid white;
  border-radius: 4px;
}
/* .input-c {
  width: 30px;
  margin-left: 20px;
} */
form {
 
  border: 1px solid white;
  padding: 20px;
  border-radius: 8px;
  margin-top: 50px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 
 
}
.button-b {
  margin-left: 50px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: blue;
  color: white;
  margin-bottom: 10px;
  width: 200px;
}
label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

.flex-group {
  display: flex;
  /* align-items: center; */
  gap: 10px;
}

.flex-group label {
  min-width: 150px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 768px) {
  .flex-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .flex-group label {
    min-width: auto;
  }
}
@media (max-width: 768px) {
  label{
    width:150px !important;
  }
}